{% extends 'base.html' %} 
{% block category %}
<a class="btn_category" href="'#'">музыка</a>
<a class="btn_category" href="'#'">спорт</a>
<a class="btn_category" href="'#'">политика</a>
<a class="btn_category" href="'#'">Развлечения</a>
<a class="btn_category" href="'#'">Игры</a>
{% endblock category %}
{% block content %}
{% if videopost %}
<div class="videos">
{% for video in videopost  %}

    <div class="video__col">
        <a href="">
          <div class="video">
            <img class="video__img" src="media/{{video.preview}}" alt="">
            <div class="video__content">
                <div class="video__user">
                    <a href="#">
                        <img src="" alt="">
                      </a>
                </div>
                <div class="video__tittle">
                    {{video.name}}
                    <div class="user__name">user__name</div>
                    <div class="video__date">{{video.published|date:'d M Y'}}</div>
                </div>
            </div>

          </div>
        </a>

    </div>
    <video controls="controls">
      <source src="{{video.video.url}}" type="video/mp4"/>
    </video>






{% endfor %}
</div>
{% endif %}
{% endblock content %}
